{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container flex-auto mx-auto pb-8 my-5 box-shadow">
    <div class="grid grid-cols-12 gap-7 lg:mx-4">
        <div class="col-span-12  lg:col-span-8">
            <div class="p-6 mt-4">
                <aside>
                    <span class="h3 display-4">Latest</span>
                    <div class="d-flex pt-6 cursor-pointer">
                        <a class=" display-8 hover:inferline">Title</a>
                        <div>
                            <span class="mt-2 text-sm"> Date</span>
                        </div>
                    </div>
                    {% for event in event_list %}
                    <div class="">
                        <div class="d-flex pt-6 cursor-pointer">
                            <a class=" display-8 hover:inferline" href="{% url 'event_detail' event.slug %}">{{ event.title }}</a>
                            <div>
                                <span>{{ event.get_age_range_display}}</span>
                                <span class="mt-2 text-sm">{{ event.event_date }}</span>
                            </div>
                        </div>
                        <hr />
                    </div>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock content %}