{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container flex-auto mx-auto pb-8 my-5 box-shadow">
    <div class="grid grid-cols-12 gap-7 lg:mx-4">
        <div class="col-span-12  lg:col-span-8">
            <div class="p-6 mt-4">
                <aside>
                    <span class="h3 display-4">Latest</span>
                    {% for event in event_list %}
                    <div class="">
                        <div class="row d-flex pt-6 cursor-pointer">
                            <a class=" col-4 playfair wawa-title-med text-decoration-none"
                                href="{% url 'event_detail' event.slug %}">{{ event.title }}</a>

                            <span class="col-4 playfair">{{ event.get_age_range_display}}</span>
                            <span class="col-4 mt-2 text-sm playfair">{{ event.event_date }}</span>

                        </div>
                        <hr />
                    </div>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock content %}