/* Global styles -------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.padding-l {
    padding-left: 0;
}

.box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
}

.bg-dark {
    background-color:  rgb(94, 74, 196) !important;
}

.bg-mid {
    background-color:  rgb(127, 108, 219) !important;
}

.bg-light {
    background-color: rgb(245, 239, 255) !important;
}

.light-text {
    color: rgb(245, 239, 255);
}

.dark-text {
    color: rgb(94, 74, 196);
}

/* Nav bar -------------------------------------------------- */

.wawa-brand {
    padding: 1%;
    padding-left: 2%;
    font-size: 250%;
    font-family: 'Atma', sans-serif;
    font-weight: 500;
}

.brand > i {
    padding-left: 2%;
    font-size: 90%;  
}

.navbar-nav > a,
.footer div,
.footer a {
    color: rgb(229, 217, 242);
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Django Messages -------------------------------------------------- */
.alert-success {
    background-color: rgb(212, 237, 218);
    color: rgb(21, 87, 36);
    border: 2px solid rgb(21, 87, 36);
}

.alert-error {
    background-color: rgb(236, 202, 202);
    color: rgb(87, 21, 21);
    border: 2px solid rgb(87, 21, 21);
}

/* Footer -------------------------------------------------- */
footer .brand > i {
    padding-left: 0.5%;
}

.btn-outline-light:hover {
    color: rgb(94, 74, 196) !important;
}

.crt > p,
.crt span {
    font-size: 95%;
}

/* index.html -------------------------------------------------- */

.header-card {
    border: transparent;
}

/* Blog Posts -------------------------------------------------- */
.playfair {
    font-family: 'Playfair', sans-serif;
    font-weight: 700;
    color:rgb(0, 0, 0)
}

.wawa-title-med {
    font-size: 150%;
}

.wawa-title-large {
    font-size: 300%;
}

.image-container img {
    height: 100%;
    width: 100%;
    position: relative;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: rgb(94, 74, 196);
}

.card-title {
    margin-top: 10%;
    margin-left: 5%;
}

.author {
    text-transform: uppercase;
    background-color: rgb(213, 194, 243);
    padding: 1%;
    border-radius: 15px;
}

.white-border {
    border: 2px solid #fff;
}

.black-border {
    border: 2px solid #fff !important;
}

.faded {
    color: rgb(172, 175, 175);
}

.approved {
    color: rgb(222, 146, 168);
}

.btn-edit {
    background-color: #24a408;
    color: #fff;
}

.btn-edit:hover {
    border: #24a408;
    color: #24a408;
}

.btn-delete {
    color: #fff;
    background: #e80707;
}

.btn-wawa {
    border: 1px solid rgb(127, 108, 219);
    background-color: #fff;
}

.btn-wawa:hover {
    background-color: rgb(127, 108, 219);
    color:#fff;
}

.like-container {
    margin-left: 6%;
}

.num-of-likes,
.comment-count,
#likesForm {
    padding-left: 1%;
    font-size: 200%;
    color: rgb(127, 108, 219);
}

/* Sign up page -------------------------------------------------- */
.signup ul {
    list-style-type: none;
}

/* Summernote -------------------------------------------------- */
.note-editor .text-editor {
    flex-wrap: wrap;
}

.card {
    width: 100%;
}

@media (max-width: 768px) { 
    .note-editor{
        width: 100%; 
    }
}

@media (min-width: 769px) { 
    .card { 
        width: 75%;
    }
}