{% extends "base.html" %}

{% block content %}
<div class="container flex-auto mx-auto bg-light pb-8 my-5">
    <div class="grid grid-cols-12 gap-7 lg:mx-4">
        <div class="col-span-12  lg:col-span-8">
            <div class="p-4 mt-4 bg-white border-t border-b lg:rounded lg:border">
                <aside>
                    <span class="h3 display-4">Latest</span>
                    {% for post in post_list %}
                    <div class="">
                        <div class="d-flex pt-6 cursor-pointer">
                            <div class="w-50 md:w-40 mr-5">
                                <img src="../static/images/children-playing-grass-min.webp" class="w-50" alt="">
                            </div>
                            <div>
                                <a class=" display-8 hover:inferline">{{ post.title }}</a>
                                <div>
                                    <span class="mt-2 text-sm">By: {{ post.author }}</span>
                                    <span class="mt-2 text-sm">{{ post.created_on}}</span>
                                </div>   
                            </div>
                        </div>
                        <hr />
                    </div>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>
</div>

{% endblock %}