{% extends "base.html" %}
{% block content %}
<div class="container flex-auto mx-auto pb-8 my-5 box-shadow">
    <div class="grid grid-cols-12 gap-7 lg:mx-4">
        <div class="col-span-12  lg:col-span-8">
            <div class="p-6 mt-4">
                {% if user.is_authenticated and post.author == user %}
                <span>
                    <h3>AWAITING APPROVAL</h3>
                </span>
                {% for post in post_list %}
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title wawa-title-large playfair">{{ post.title }}</h4>
                                <p class="card-text">By: {{ post.author }} | {{ post.created_on }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col card mb-4  mt-3 left  top">
                            <div>
                                <!-- The post content goes inside the card-text. -->
                                <!-- Use the | safe filter inside the template tags -->
                                <p class="card-text">
                                    {{ post.post_content | safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% elif user.is_authenticated %}
    <h2>You have no blog posts waiting for approval</h2>
    {% else %}
    <h2>Please log in to see your posts awaiting approval</h2>
    {% endif %}
</div>

{% endblock %}