{% extends 'base.html' %}
{% load static %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% block content %}
<!-- Header -->
<div class="container mt-3 box-shadow padding-l">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <img src="../static/images/children-playing-grass-min.webp" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col align-self-center">
            <div class="card header-card">
                <h1 class="card-title display-4">Welcome to Wawa Land</h1>
                <div class="row">
                    <div class="col-md-8">
                        <p class="card-text display-7">Your helping hand when you need to know everything to do with the world of
                            babies, toddlers, children and parenting.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="bg-dark light-text btn">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content section 1-->


<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="../static/images/close-up-two-dads-baby-min.webp" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-6">Read our blog articles..</h2>
                    <p>We have a wealth of knowledge and many answers to those questions you have about all things
                        parenting. Not only do we have articles for parents, but also for aunties, uncles, grandparents,
                        godparents.. You name it! And if we don't then why not trying a post of your own to help those
                        who can't find the right answers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="../static/images/children-group-sofa-min.webp" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-6">View and attend our events...</h2>
                    <p>We are always adding new events for babies, toddlers, parents, families. Get to know other kind
                        people whilst doing dun activites with your young ones. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../static/images/coming-soon.jpg"
                        alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-6">Products coming soon...</h2>
                    <p>Our new products section will be ready early next year! We've listened to everything you've said.
                        We will only be listing products that are tried and tested by us or our users. We know it can de
                        difficult when you enter the world of babies and children.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}